    <div class="credits text-muted"><span class="terms"><a href="https://github.com/OrchardCMS/TheBootstrapMachine">The Bootstrap Machine</a></span> - <span class="poweredby">@T("Powered by <a href=\"{0}\" target=\"_blank\">Orchard</a>", "http://www.orchardproject.net")</span></div>
