@{
    IEnumerable<dynamic> tags = Model.Tags;
}

@if (tags.Any()) {
    <div class="tags">
        @foreach (var t in tags) {
            <a class="tag label label-default" rel="tag" href="@Url.Action("Search", "Home", new { area = "Orchard.Tags", tagName = (string)t.TagName })">@t.TagName</a>
        }
    </div>
}